#  HTRU2 Data Set 

HTRU2 is a data set which describes a sample of pulsar candidates collected during the High Time Resolution Universe Survey (South).

In [9]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import io

PULS_URL = "https://gitlab.com/emrevoid/uni/dia/project/seintz/-/raw/master/HTRU_2.csv"
response = requests.get(PULS_URL)

file_object = io.StringIO(response.content.decode('utf-8'))

pulsds = pd.read_csv(file_object, header=0, index_col=False)

pulsds.head(100)

,Profile_mean,Profile_stdev,Profile_skewness,Profile_kurtosis,DM_mean,DM_stdev,DM_skewness,DM_kurtosis,class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
95,123.531250,53.348784,0.072078,-0.071601,0.781773,10.570833,17.118300,339.660826,0
96,70.023438,35.280675,1.157657,4.546692,3.003344,19.575384,7.954436,71.960159,0
97,129.375000,44.568417,0.049779,0.506330,3.604515,21.133038,7.181384,56.856630,0
98,97.140625,47.770894,0.625218,0.740796,4.193144,26.465261,6.927046,49.628527,0
99,101.968750,46.316327,0.439814,0.294261,1.748328,16.486623,10.810393,127.733366,0

In [8]:
star_features = ["Profile_mean", "Profile_stdev", 
                 "Profile_skewness", "Profile_kurtosis", 
                 "DM_mean", "DM_stdev", "DM_skewness", 
                 "DM_kurtosis", "class"]

pulsds["Profile_mean"].value_counts()

106.710938    12
112.914062     9
106.648438     9
124.546875     9
116.531250     8
              ..
147.476562     1
114.656250     1
129.257812     1
133.625000     1
48.265625      1
Name: Profile_mean, Length: 8626, dtype: int64